#navMain{
    border-bottom: 1px solid rgba(0,0,0,.125);
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

#navFooter{
    border-top: 1px solid rgba(0,0,0,.125);
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}