<nav id="navMain" class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>

    <button
      class="navbar-toggler hidden-sm-up"
      type="button"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [ngbCollapse]="isNavbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarsDefault"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/songs-list"
            >Songs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            (click)="list.openSongModal('add')"
            >Add Song</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            (click)="list.openArtistModal('add')"
            >Add Artist</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-songs-list #list></app-songs-list>

<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" id="navFooter">
  <div class="container">
    Adam K. Monroe © 2020 - All Rights Reserved
  </div>
</nav>
