<nav id="navMain" class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/songs-list">Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="list.openAddSongModal()">Add Song</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" (click)="list.openAddArtistModal()">Add Artist</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>

<nav class="navbar navbar-expand-lg navbar-light fixed-bottom" id="navFooter">
  <div class="container">
    Adam K. Monroe © 2020 - All Rights Reserved
  </div>
</nav>

<app-songs-list #list></app-songs-list>