<div class="container" id="songListMain">
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div
        class="alert alert-info fade show"
        role="alert"
        *ngIf="Songs.length <= 0"
      >
        There are no songs available ...
      </div>
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          id="song_{{ song.id }}"
          *ngFor="let song of Songs"
          (click)="getSongDetails(song.id)"
        >
          {{ song.title }}
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <app-song-details
        [Song]="SelectedSong"
        (openSongModal)="openSongModal('update')"
        (openMsgModal)="openMsgModal()"
      ></app-song-details>
    </div>
  </div>
</div>

<ngx-spinner type="line-scale" size="medium">
  <p class="loading">Loading ...</p>
</ngx-spinner>
