body {
  background: #eeeeee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#main h1 {
  color: #444;
  text-align: left;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#song-list {
  padding: 0;
}

#song-list li {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0, 3);
  cursor: pointer;
  color: #880e4f;
}

#song-list li:hover {
  background-color: #880e4f;
  color: white;
}

form button:hover {
  background-color: #880e4f;
}

#song-list li:active,
form button:active {
  background-color: #ec407a;
  color: white;
}

form {
  background: #eeeeee;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 266px;
  position: relative;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form select,
form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 15px;
}

#song-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0, 3);
  box-sizing: border-box;
  color: #fff;
}
